.card-text{
    margin-right: 200px;
    margin-left: 50px;
    font-size: 20px;
   color: rgb(104, 20, 20);
   text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.card-title{
    margin-right: 300px;
    margin-left: 50px;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
}

.card-text1{
    margin-right: 550px;
    margin-left: 50px;
    font-size: 20px;
   color: rgb(104, 20, 20);
   text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

body{
    background-color: linear-gradient(rgb(79, 16, 21), #651919) fixed
}